<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bluetooth Test</title>
    </head>
    <style>
    </style>
<body>
    <div id="connect-text">None</div>

    <button id="connect-button">Connect</button>
    <button id="disconnect-button">Disconnect</button>

<script data-main="js/home" src="js/modules/require.js"></script>
</body>
